.news-card-li {
  list-style: none;
  padding: 0;
  transition: transform 310ms ease-in-out;
  cursor: pointer;
}

.news-card-li:hover {
  transform: scale(1.10);
}

.card-ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .card-ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
}
