.header {
    display: flex;
    flex-direction: column;
    background-color: rgb(22, 115, 22);
  }
  
  .header-nav {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100vw;
    align-items: center;
  }
  
  .header-nav-li {
    list-style: none;
    margin: 0 0.5rem;
    border-radius: 10px;
  }

  .header-nav-li p {
    margin: 0.5rem 0;
    color: white;
  }

  .header-home {
    list-style: none;
    margin: 0;
  }
  
  .header-link {
    color: white;
    text-decoration: none;
  }
  
  .profile-link {
    display: flex;
    list-style: none;
  }
  
  .header-nav-button {
    list-style: none;
  
  }
  
  @media screen and (min-width: 768px) {
    .header {
      display: flex;
      flex-direction: row;
    }
  
    .header-nav {
      display: flex;
      flex-direction: row;
    }
  
    .header-nav-li {
      padding: 0.1rem 0.5rem;
      transition: 0.15s;
      background-color: white;
    }

    .header-nav-li:hover {
      background-color: rgb(0, 81, 0);
    }
  
    .header-nav-li:hover p {
      color: white;
    }  
  
    .header-nav-li p {
      margin: 0.5rem 0;
      color: green;
    }

    .profile-link {
      margin-left: auto;
      padding-right: 1rem;
      list-style: none;
    }
  
    .header-nav-button {
      list-style: none;
      align-self:center;
      padding-right: 1rem;
    }
  
  }