.card {
  margin: 0;
  height: fit-content;
  background-color: white;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.8);
  font-size: small;
  font-family: "News Cycle", sans-serif;
  margin: 1rem;
}

.image {
  width: 25vw;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.name {
  color: black;
  font-size: larger;
}

.divider {
  width: 60%;
  color: black;
  margin-top: 2rem;
}

.description {
  color: rgb(149, 149, 149);
  padding: 0 1rem;
}

.provider {
  display: flex;
  align-items: center;
}

.provider-image {
  width: 25px;
  margin-left: auto;
}

.provider-name {
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .card {
    width: 20rem;
    height: 28rem;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
    border-color: black;
    border-width: 1px;
    border-style: solid;
    overflow-y: hidden;

    position: relative;
  }

  .image {
    width: 7rem;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .name {
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
    margin-right: 0.5rem;
  }

  .divider {
    width: 60%;
    color: gray;
    margin-top: 2rem;
  }

  .description {
    color: rgb(149, 149, 149);
    padding: 0 1rem;
    font-size: medium;
  }

  .provider {
    display: flex;
    align-items: center;

    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
