.card {
  background-color: #f1eed8;
  border-radius: 10px;
  padding: 1rem;
  margin: 4rem 1rem;
  width: 15rem;
  height: 15rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
}

.image {
  width: 8rem;
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.8);
}

.name {
  font-family: "News Cycle", sans-serif;
}

.text {
  font-family: "News Cycle", sans-serif;
}
