.main {
  background-color: #fffbda;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-main {
  background-color: #fffbda;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-div {
  width: 100%;
}

.title {
  color: black;
  font-size: 2rem;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.news-card-li {
  list-style: none;
  padding: 0;
  transition: transform 220ms ease-in-out;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.card-ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 1080px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 2.6rem;
  }

  .main {
    margin-top: 14rem;
  }

  .category-container {
    display: flex;
    flex-direction: row;
  }

  .card-ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .news-card-li:hover {
    transform: scale(1.1);
  }
}
