.main {
  background-color: rgb(62, 62, 62);
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

@media screen and (min-width: 768px) {
  .category-container {
    display: flex;
    flex-direction: row;
  }
}
