.main {
  min-height: 100vh;
  text-align: center;
  margin-top: 7.31rem;
  text-align: center;
  background-color: #ededed;
}

.history-title {
  color: black;
}

.header-link {
  color: white;
  text-decoration: none;
}

.header-link h1 {
  margin: 0;
  padding: 1rem;
}

.home {
  background-color: #32502E;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.card {
    width: 18rem;
    height: fit-content;
    margin: 2rem auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
    background-color: #ffffff;
}

.card h3 {
    color: black;
    margin-top: 0;
}
.card p {
    color: black;
}

.no-history {
    color: black;
    font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .home {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    margin-right: auto;
    padding-left: 1rem;
    background-color: #32502E;
  }

  .article-history {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    min-width: 18rem;
  }
}
